@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flip-clock {
  --fcc-background: red !important;
  background-color:  red !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ECECEC;

}

html {
  background-color: #141414 !important;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #141414 !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.container {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  overflow-x: visible;
}
.custom-sticky {
  position: fixed;
  width: 100%;
  height: fit-content !important;
  z-Index: 100;
  top: 0;
  background-color: rgb(20, 20, 20);
}
.home-top-header {
  min-width: 1470px !important;
  max-width: 1470px !important;
  width: 1470px !important;
  overflow: visible;
  transform: scaleX(1.5);
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 40px;
  padding: 70px 100px 50px 100px!important;
  color:  #ECECEC !important;
  font-size: 19px;
  font-weight: 500;
  font-family: var(--font-anek-bangla);
}



.custom-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

.custom-header-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-header-right {
  width: 420px;
  display: flex;
  align-items: center;
}

.custom-header-avatar {
  margin-left: 30px;
}
.custom-homebody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1010px;
  height: 100%;
  padding: 0 100px;
  margin: 0 auto;
  margin-top: 280px;
  text-align: center;
}





.custom-homebody-title {
  font-size: 48px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 200;
  line-height: 65px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
}

.custom-homebody-subtitle {
  font-family: var(--font-anek-bangla);
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin: 20px;
}

.custom-homebody-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin: 20px;
}


.custom-homebody2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 225px;
}

.custom-homebody2-side {
  display: flex;
  align-items: center;
  width: 515px;
  height: 720px;
  margin-left: 200px;
}

.custom-homebody2-main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 530px;
  height: 720px;
  margin-left: 100px;
}

.custom-homebody2-main-title {
  font-size: 70px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 100px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
}

.custom-homebody2-main-content {
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}

.custom-homebody3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 215px;
  flex-direction: column;
  position: relative;
}

.custom-homebody3-content {
  width: 715px;
  height: 300px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.custom-homebody3-content-title {
  font-size: 70px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 100px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
  font-size: 90px;
  line-height: 113px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-homebody3-content-description {
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 30px;
}

.custom-homebody3-waveyIcon {
  position: absolute;
  margin: auto;
  top: 185px;
  z-index: 1;
}

.custom-homebody3-waveyIconCover {
  width: 444px;
  height: 1076px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0) 80%, rgba(20, 20, 20, 0.7));
}


.custom-homebody3-placeholder {
  height: 820px;
}

.custom-homebody3-main {
  width: 561.37px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.custom-homebody3-main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2);
  width: 561.37px !important;
  height: 86.49px !important;
  margin: auto;
  padding: auto;
  text-align: center;
}

.custom-homebody3-main-content {
  width: 290px;
  height: 84px;
  font-family: var(--font-anek-bangla);
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 35px;
}

.custom-homebody3-main-value {
  font-family: var(--font-anek-bangla);
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.custom-homebody3-main-subtitle {
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 300;
  line-height: 37.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-join {
  display: flex;
  padding-top: 100px !important;
}

.custom-join-side {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  margin-left: 80px;
  margin-top: 80px;
}

.custom-join-side-header-title {
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 500;
  line-height: 78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.custom-join-side-search-icon {
  position: relative;
  top: 20px;
}

.custom-join-side-search-input {
  padding-left: 20px;

  outline: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
}

.custom-join-side-filters {
  margin-top: 30px;
}

.each-filter {
  height: fit-content;
  margin: 10px 0px;
}

.each-filter-title {
  color: #D3D3D3;
  font-family: var(--font-anek-bangla);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}


.each-filter-input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
  background-color: #1D1D1D;
  width: 235px;
  height: 35px;
  margin-top: 10px;
}

.custom-join-main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 80px;
  width: 900px ;
}

.custom-join-main-body {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.equb-card {
  background-color: #1D1D1D;
  width: 430px;
  height: 160px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.equb-card-side {
  width: 260px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.equb-card-image {
  width: 130px !important;
  height: 130px !important;
}

.equb-card-content{
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  padding-top: 25px;
}
.equb-card-content-title {
  font-family: var(--font-anek-bangla);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.equb-card-content-desc{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 7px;
}

.desc-tag {
  width: fit-content;
  height: 21px;
  margin: 5px 0px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.equb-card-content-footer {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: 15px;
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 500;
  color: #ECECEC;
}

.custom-create {
  width: 760px;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  padding-top: 100px !important;
}



.custom-create-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px !important;
  height: 170px !important;
  margin-top: 20px;
  background-color: #333;
  color: #aaa;
}

.custom-create-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.each-input {
  height: fit-content;
  width: 350px;
  margin: 20px 0px;
  padding-right: 10px;
}

.each-input-title {
  color: #D3D3D3;
  font-family: var(--font-anek-bangla);
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  letter-spacing: 1px;
}

.each-input-input {
  padding: 10px;
  outline: none;
  border: none;
  background-color: #1D1D1D;
  width: 235px;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}

.each-input-input-border {
  border-bottom: 1px solid #D3D3D3;
}

.custom-create-button {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.custom-detail {
  width: 760px;
  height: 100%;
  margin: auto;
  margin-top: 60px;
  padding-top: 100px !important;
}

.custom-detail-mainheader {
  display: flex;
  justify-content: space-between;
}

.custom-detail-title {

}

.custom-detail-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
}

/* .custom-detail-center-join {
  border: 1px solid #555;
  margin-top: 20px;
  padding: 2px;
  border-radius: 30px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgba(29, 29, 29, 1);
  background-color:rgba(232, 218, 255, 1);
} */

 .custom-detail-center-join {
  padding-top: 50px;
  width: 170px !important;
  height: 40px !important;
  font-size: 16px !important;

} 

.custom-detail-center-join-button {
  margin: 0px auto !important;
  margin-left: 20px !important;
}

.custom-detail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cec8c8;
  border: 1px solid #555;
  height: fit-content !important;
  padding: 5px 10px;
  margin-top: 170px;
  border: 1px solid #555;
  border-radius: 100px;
  cursor: pointer;
  transform: scale(0.95);
}


.custom-detail-logo {
  width: 170px !important;
  height: 170px !important;
  margin-top: 20px;
  background-color: #333;
}

.each-detail-input {
  height: fit-content;
  width: 350px;
  margin: 20px 0px;
  padding-right: 10px;
}

.each-detail-input-title {
  color: #D3D3D3;
  font-family: var(--font-anek-bangla);
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  letter-spacing: 1px;
}

.each-detail-input-input {
  padding: 10px;
  outline: none;
  border: none;
  background-color: #1D1D1D;
  width: 235px;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}

.equb-detail-each {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.equb-detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  padding-top: 100px !important;
}


.profile-banner {
  background: linear-gradient(180deg, #8951E6 0%, #692FDC 100%);
  width: 1150px;
  height: 150px;
  position: relative;
  margin: auto;
  margin-top: 30px;
}

.profile-banner-avator {
  position: absolute;
  top: 80px;
  left: 90px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-content {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-left: 150px;
  padding-right: 120px;
}

.profile-content-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 90px;
  margin-top: 40px;
  margin-left: 40px;

}
.profile-content-sidebar-address{
  margin-top: 120px;
}

.profile-content-sidebar-credit{
  margin-top: 80px;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
}

.profile-content-sidebar-credit-title {
  margin-bottom: 20px;
}

.profile-content-sidebar-credit-score {
  height: 2px;
  background: linear-gradient(90deg, #FF0000 0%, #FF0000 33%, #FFD700 33%, #FFD700 66%, #00B22E 66%, #00B22E 100%);
  margin-top: 25px;
  width: 150px;
  position: relative;
}

.profile-content-sidebar-credit-score-value {
  position: absolute;
  background-color: #00B22E;
  color: #000000; 
  bottom: 10px;
  left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
}

.profile-content-main {
  margin-left: 70px;

}


.profile-content-main-active-content,
.profile-content-main-history-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 100%;
  overflow: scroll;
  padding: 0px 40px;
  position: relative;
}

/***************************/

.profile-content-main-active-content::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
  -webkit-appearance: none;
}

.profile-content-main-active-content::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.profile-content-main-active-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.profile-content-main-active-content::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the scrollbar track */
}
/* ***************************/

.profile-content-main-active-title {
  font-family: var(--font-anek-bangla);
  font-size: 24px;
  font-weight: 700;
  line-height: 44.78px;
  letter-spacing: 0%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
}

.profile-content-main-history-title {
  font-family: var(--font-anek-bangla);
  font-size: 24px;
  font-weight: 700;
  line-height: 44.78px;
  letter-spacing: 0%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
}

.equb-image-card{
  margin: 20px;
  margin-right: 5px;
  width: 175px;
  height: 175px;
  overflow: hidden;
}

.equb-image-card-image {
  width: 175px;
  height: 175px;
  object-fit: cover;
  background-color: #333;
}

.equb-card-image-side{
  width: 175px;
  height: 175px;
  background-color: #333; 
}

.profile-content-main-active-content-equb,
.profile-content-main-history-content-equb {
  display: flex;
  align-items: center;
  width: 600px !important;
  height: 100%;
  overflow: scroll;
}

.profile-content-main-history-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 100%;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.6);
  left: 100px;
  pointer-events: none;
}

.custom-detail-wrapper {
  position: relative;
}


.custom-detail-popup-header {
  display: flex;
  justify-content: space-between;
  width: 480px !important;
  color: rgba(236, 236, 236, 1);
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  overflow-x: scroll;
}

.custom-detail-popup-header-each {
  min-width: 120px;
  max-width: 120px;
  width: 120px;
  margin: 0px;
  border: 0x;
  font-family: var(--font-anek-bangla);
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.custom-detail-popup {
  background-color: rgba(29, 29, 29, 1);
  position: absolute;
  margin-top: 20px;
  height: 95%;
  width: 110%;
  top: 0px;
  left: -5%;
  padding-top: 20px;
  overflow: hidden !important;
}


.custom-detail-popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  margin: auto;
  padding: 0px 10px;
}

.custom-detail-popup-body {
  width: 100%;
  margin-top: 10px;
  height: fit-content;
  overflow: hidden;
}

.custom-equb-detail {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  background-color: #141414;
}

.custom-detail-popup-body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.16px;
  padding: 50px 40px;
  padding-bottom: 20px;
}

.custom-detail-popup-body-sent-details {
  margin-top: 20px;
  color: rgba(236, 236, 236, 1);
  font-family: var(--font-anek-bangla);
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}

.custom-detail-popup-sent-details-each {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  padding-left: 12px;
}


.custom-detail-popup-body-failed-title,
.custom-detail-popup-body-failed-details {
  color: red;
}