@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #141414;
}

body {
  min-height: 100vh;
  width: 100% !important;
  background-color: #141414;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.container {
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  overflow: visible;
}

.home-top-header {
  min-width: 1470px !important;
  max-width: 1470px !important;
  width: 1470px !important;
  overflow: visible;
  transform: scaleX(1.5);
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 40px;
  padding: 80px 100px 50px 100px!important;
  color:  #ECECEC !important;
  font-size: 19px;
  font-weight: 500;
  font-family: var(--font-anek-bangla);
}



.custom-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.custom-header-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-header-right {
  width: 350px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-homebody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 905px;
  height: 100%;
  padding: 0 100px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}





.custom-homebody-title {
  font-size: 48px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 200;
  line-height: 65px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
}

.custom-homebody-subtitle {
  font-family: var(--font-anek-bangla);
  text-align: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  margin: 20px;
}

.custom-homebody-content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  margin: 20px;
}


.custom-homebody2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 215px;
}

.custom-homebody2-side {
  display: flex;
  align-items: center;
  width: 515px;
  height: 720px;
  margin-left: 200px;
}

.custom-homebody2-main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 530px;
  height: 720px;
  margin-left: 100px;
}

.custom-homebody2-main-title {
  font-size: 70px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 100px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
}

.custom-homebody2-main-content {
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
}

.custom-homebody3 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 215px;
  flex-direction: column;
  position: relative;
}

.custom-homebody3-content {
  width: 715px;
  height: 300px !important;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.custom-homebody3-content-title {
  font-size: 70px;
  font-family: var(--font-climate-crisis);
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 100px;
  font-style: normal;
  font-variation-settings:
    "YEAR" 2000;
  font-size: 90px;
  line-height: 113px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.custom-homebody3-content-description {
  font-family: var(--font-anek-bangla);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.custom-homebody3-waveyIcon {
  position: absolute;
  margin: auto;
  top: 185px;
  z-index: 1;
}

.custom-homebody3-waveyIconCover {
  width: 444px;
  height: 1076px;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0) 20%, rgba(20, 20, 20, 0) 80%, rgba(20, 20, 20, 0.7));
}


.custom-homebody3-placeholder {
  height: 820px;
}

.custom-homebody3-main {
  width: 561.37px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.custom-homebody3-main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2);
  width: 561.37px !important;
  height: 86.49px !important;
  margin: auto;
  padding: auto;
  text-align: center;
}

.custom-homebody3-main-content {
  width: 290px;
  height: 84px;
  font-family: var(--font-anek-bangla);
  font-size: 35px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 35px;
}

.custom-homebody3-main-subtitle {
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 300;
  line-height: 37.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-join {
  display: flex;
}

.custom-join-side {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  margin-left: 80px;
  margin-top: 60px;
}

.custom-join-side-header-title {
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 500;
  line-height: 78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.custom-join-side-search-icon {
  position: relative;
  top: 20px;
}

.custom-join-side-search-input {
  padding-left: 20px;

  outline: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
}

.custom-join-side-filters {
  margin-top: 30px;
}

.each-filter {
  height: fit-content;
  margin: 10px 0px;
}

.each-filter-title {
  color: #D3D3D3;
  font-family: var(--font-anek-bangla);
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3199999928474426px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}


.each-filter-input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
  background-color: #1D1D1D;
  width: 235px;
  height: 35px;
  margin-top: 10px;
}

.custom-join-main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-left: 80px;
  width: 900px ;
}

.custom-join-main-body {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.equb-card {
  background-color: #1D1D1D;
  width: 430px;
  height: 160px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.equb-card-side {
  width: 260px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.equb-card-image {
  width: 130px !important;
  height: 130px !important;
}

.equb-card-content{
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  padding-top: 25px;
}
.equb-card-content-title {
  font-family: var(--font-anek-bangla);
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.equb-card-content-desc{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 7px;
}

.desc-tag {
  width: fit-content;
  height: 21px;
  margin: 5px 0px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.equb-card-content-footer {
  display: flex;
  justify-content: end;
  margin-right: 15px;
  margin-top: 15px;
  font-family: var(--font-anek-bangla);
  font-size: 16px;
  font-weight: 500;
  color: #ECECEC;
}

.custom-create {
  width: 760px;
  height:  600px;
  margin: auto;
  margin-top: 60px;
}

.custom-create-logo {
  width: 170px !important;
  height: 170px !important;
  margin-top: 20px;
  background-color: #333;
}

.custom-create-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.each-input {
  height: fit-content;
  width: 350px;
  margin: 20px 0px;
  padding-right: 10px;
}

.each-input-title {
  color: #D3D3D3;
  font-family: var(--font-anek-bangla);
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  letter-spacing: 1px;
}

.each-input-input {
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #D3D3D3;
  background-color: #1D1D1D;
  width: 235px;
  height: 35px;
  margin-top: 10px;
  width: 100%;
}

.custom-create-button {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 40px;
}